.header-color {
  color: #121212;
}

.background-landing-img {
  background-image: url('../app/assets/edited-palm-13.png');
  height: 100vh;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  width: 100vw;
}

.nature {
  overflow: hidden;
}
