.header-color {
  color: #121212;
}

.background-landing-img {
  background-image: url('./assets/edited-palm-14.png');
  height: 100vh;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  width: 100vw;
}

.header-landing-container {
  overflow: hidden;
}

.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  padding-top: 20px;
}

.pineapple {
  height: 15rem;
  width: auto;
}

.background-test {
  background-color: #2d414c;
}

.palm-dolphin {
  max-height: 20rem;
  width: auto;
  /* margin-left: 14rem; */
  /* display: flex;
  justify-content: center; */
}

.about-paragraph {
  margin-left: 100px;
}
.about-header {
  margin-left: 100px;
}
